<div class="media">
  <h3>About</h3>
    <div class="media-left">
      <a href="#/users/<%=user.escape('id')%>">
        <img class="media-object" src="<%=user.escape('avatar_url')%>" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="#/users/<%=user.escape('id')%>">
          <%=user.escape('name')%>
        </a></h4>
          <%=user.escape('about')%>
    </div>
</div>
