  <td> <%= booking.escape('tour_id') %></td>
  <td> <%= booking.escape('tour_name')%>, <%=booking.escape('tour_city')%></td>
  <td><%= booking.escape('status') %></td>
  <td><%= booking.escape('tour_date')%></td>
