  <td> <%= booking.escape('tour_id') %></td>
  <td> <%= booking.escape('tour_name')%>, <%=booking.escape('tour_city')%></td>
  <td><%= booking.escape('tour_date')%></td>
  <td><%= booking.escape('status') %></td>
    <% if (booking.escape('status') !== "cancelled") { %>
      <td><button type="button" class="cancel-btn btn-primary" >Cancel</button></td>
    <% } %>
  </form>

  </td>
