<td class='img-thumb'></td>
<td><a href="#tours/<%=booking.escape('tour_id')%>">
      <%= booking.tour().escape('title')%>, <%=booking.escape('tour_city')%>
    </a>
</td>
<td><%=booking.escape('num_people')%></td>
<td><%=new Date(booking.escape('tour_date')).toDateString()%></td>
<td><%=new Date(booking.escape('tour_date')).toTimeString().slice(0,5)%></td>
<td><%= booking.escape('status') %></td>

<% if (isAdmin) { %>
  <% if ( booking.escape('status') === 'requested' ){ %>
    <td><button type="button" class='btn btn-primary approve-btn'>Approve</button></td>
    <td><button type="button" class='btn btn-warning deny-btn'>Deny</button></td>
  <% } else { %>
    <td></td>
    <td></td>
  <% } %>
<% } else { %>
<td>
  <% if ( booking.escape('status') !== "cancelled" ){ %>
    <button type="button" class="cancel-btn btn btn-danger" >Cancel</button>
  <% } %>
</td>
<% } %>
