<div class="row tour-header">
  <h2 class='tour-title'><%=tour.escape('title')%></h2>
  <p><%=tour.escape('owner')%></p>
  <div class="col-md-12">

  </div>
</div>

<div class="row row-2">
  <div class="col-md-8">
      <a class='btn btn-default' href="#/destinations/<%=tour.get('destination_id')%>">Back</a>
      <h2>About this tour</h2>
      <%=tour.escape('description')%>
      <%=tour.escape('about')%>
  </div>

  <div class="col-md-4">
    <h3>Make a reservation</h4>
    <h4>$<%=tour.escape('price')%></h5>
    <div class="booking-form"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 photos-index">
  </div>
</div>

<div class="row">
  <div class="col-md-12 provider">
  </div>
</div>
